<!--Head & header-->

<%- include("partial/head.ejs") %>

<!--Add to Todo-list-->

        <div class="row justify-content-center">
    
        <div class= "col-sm-12 col-md-8 addItems ">
            
            <div class = "formTitle text-center pb-2">
                <h4> Add Items to the List</h4>
            </div>
            
            <div class=" text-center justify-content-center">

                <form action="/addTask" method="post">
                    <div class="form-group">
                        <label class="w-100">Title<input type="text" name="title" id="" class="form-control"></label>
                    </div>
                    <div class="form-group">
                        <label class="w-100">Description<input type="text" name="text" id="" class="form-control" rows="3"></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark w-50">Add Task</button>
                    </div>
            </div>
                </form>
        
        </div>
        </div>

        <!--Show To Do-list-->

        <div class="row justify-content-center">
        <div class= "col-sm-12 col-md-8 todoItems">
            <div class= "listTitle text-center pb-4 pt-3">
                <h4>What's On My To Do List</h4>
            </div>
        <% comments.forEach( (comment)=>{ %>
            <div class= "commentFrame px-2 pt-2 mb-2">
            <div><h5> <%= comment.title %></h5></div>
            <div class = "theDescription pb-2"><%= comment.text %></div>
            <div class ="theDate pb-2"><%= comment.date %></div>
            <div class= "pb-2">
                <a class="btn btn-outline-dark" href="/update/<%=comment._id%>">Edit</a>
                <a class="btn btn-outline-danger" href="/delete/<%=comment._id%>"> Delete</a>
               <!-- - Knapp för att ändra uppgift till completion: true <button type = "button" class="btn btn-outline-secondary completeButton">Complete</button> -->
            </div>
            </div>
        <%  }) %>
        </div> 
        </div>

    </div>

<!--Footer-->
    <%- include("partial/footer.ejs") %>

</body>
</html>