<!--Head & header-->
<%- include("partial/head.ejs") %>

<!--Edit Task-->
        <div class="row justify-content-center">
    
        <div class= "col-sm-12 col-md-8 changeItems ">

            <div class ="editTitle text-center pb-2">
                <h4> Edit Your Task </h4>
            </div>

        <div class=" text-center justify-content-center">

            <form action="/update/:id"  method="post">
                <div class="form-group">
                    <label class="w-100">Title<input type="text" name="title" id="" class="form-control" value="<%=editTask.title%>" required></label>
                </div>
                <div class="form-group">
                    <label class="w-100">Description<input type="text" name="text" id="" class="form-control" value="<%=editTask.text%>" required></label>
                </div>
                    <input type="text" name="_id" value="<%=editTask._id%>" hidden>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark w-50">Update</button>
                </div>
        
            </form>
        </div>

    </div>
    </div>

    </div>

<!--Footer-->
    <%- include("partial/footer.ejs") %>

</body>
</html>